artifacts
cache
coverage
dist
node_modules
types
fhevmTemp
*.env
*.log
.env
.env.example
.eslintrc.yml
.prettierrc.yml
.solhint.json
.solhintignore
contracts
deployments
hardhat.config.ts
lib
out
package.json
test
tsconfig.json

